
<div class="col-12 border-bottom mb-3">
    <p>Track</p>
</div>


@for (int i = 0; i < Athletes.Count; i++)
{
    int index = i;
    <div class="col-12 flex-row d-flex">
        <div class="flex-grow-1">
            <p>
                @($"{i+1}. {Athletes[i].Name}")
            </p>
        </div>

        @if (Athletes[index].Result == null)
        {
            <div class="pl-2">
                <button class="btn btn-warning btn-sm" disabled="@(Athletes[index].Warned || !Started)"
                        @onclick="@(_=>Warn(Athletes[index].Id))">
                    Warn
                </button>
            </div>
        }

        <div class="col-3 pl-4 pr-0">
            @if (Athletes[index].Result == null && !Ended)
            {
                <button class="btn btn-danger btn-sm float-right"
                        @onclick="@(_=>StopAthlete(Athletes[index].Id))"
                        disabled="@(!Athletes[index].Warned)">
                    Stop
                </button>
            }
            else
            {
                <select class="form-control form-control-sm" @bind="@Athletes[index].Result">
                    @foreach (var item in ShuttleResults)
                    {
                        <option>@($"{item.SpeedLevel}-{item.ShuttleNo}")</option>
                    }
                </select>
            }

        </div>

    </div>
}